* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    overflow: hidden;
  }

.navbar {
    background-color: rgba(30, 29, 29, 0.637)!important;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgba(155, 9, 9, 0.902)!important;
    z-index: 1;
}

#butt{
    color: #bbb!important;
}

.container-fluid li a {
    color: #bbb!important;
}

/* BG IMG */
.contenedor-pag{
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
	transition: all .1s ease-out;
	background-image: url('./recursos/img/banner-1.jpg');
	animation: banner 28s infinite linear;
}

@keyframes contenedor-pag{
	0%{
		background-image: url('./recursos/img/banner-1.jpg');
	}
	25%{
		background-image: url('./recursos/img/banner-1.jpg');
	}


	26%{
		background-image: url('./recursos/img/banner-2.jpg');
	}
	50%{
		background-image: url('./recursos/img/banner-2.jpg');
	}

	50%{
		background-image: url('./recursos/img/banner-4.jpg');
	}
	75%{
		background-image: url('./recursos/img/banner-4.jpg');
	}
}

.section{
    width: 100%;
    height: 100vh;
    background-color: #00000056;
    justify-content: center;
    display: flex;
}
.portada{
    align-items: center;
}

.dato{
    width: 320px;
    color: #790808f3;
    font-size: 17px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.dato h1{
    border-bottom: 1px solid #790808;
    margin: 2px 0;
}

.dato p{
    font-size: 18;
}

.img-presentation img{
    box-shadow: 2px 2px 2px 2px rgba(102, 5, 5, 0.337);
    border-radius: 30px;
}

.aboutme{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    overflow: hidden;
}

.title{
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 5px;
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid #790808;
    color: #bbb;
}

@media (max-width: 1024px){
    .title{
        margin-top: 50px;
    }

    
}

.text-presentation{
    background-color: rgba(0, 0, 0, 0.398);
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgba(102, 5, 5, 0.337);
    max-width: 800px;
    min-height: fit-content;
    border-radius: 5px;
    color: #bbb;
    overflow:auto;

}
.text-presentation p{
    height: 100%;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    overflow: hidden;
}

.skills .container img{
    width: 100px;
    height: 100px;
    padding: 20px;
}