* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    overflow: auto;
  }

.navbar {
    background-color: rgba(30, 29, 29, 0.637)!important;
    width: 100%;
    position: fixed;
    border-bottom: 1px solid rgba(155, 9, 9, 0.902)!important;
    z-index: 1;
}

#butt{
    color: #bbb!important;
}

.container-fluid li a {
    color: #bbb!important;
}

/* BG IMG */
.contenedor-pag{
	position: relative;
	width: 100%;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
	transition: all .1s ease-out;
	background-image: url('./recursos/img/banner-1.jpg');
	animation: banner 28s infinite linear;
}

@keyframes contenedor-pag{
	0%{
		background-image: url('./recursos/img/banner-1.jpg');
	}
	25%{
		background-image: url('./recursos/img/banner-1.jpg');
	}


	26%{
		background-image: url('./recursos/img/banner-2.jpg');
	}
	50%{
		background-image: url('./recursos/img/banner-2.jpg');
	}

	50%{
		background-image: url('./recursos/img/banner-4.jpg');
	}
	75%{
		background-image: url('./recursos/img/banner-4.jpg');
	}
}

.section{
    width: 100%;
    height: 100vh;
    background-color: #00000056;
    justify-content: center;
    display: flex;
}
.portada{
    align-items: center;
}

.dato{
    width: 320px;
    color: #790808f3;
    font-size: 17px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.dato h1{
    border-bottom: 1px solid #790808;
    margin: 2px 0;
}

.dato p{
    font-size: 18;
}

.img-presentation img{
    box-shadow: 2px 2px 2px 2px rgba(102, 5, 5, 0.337);
    border-radius: 30px;
}

.aboutme{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    overflow: hidden;
}

.title{
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 5px;
    width: 100%;
    height: fit-content;
    border-bottom: 2px solid #790808;
    color: #bbb;
}

@media (max-width: 1024px) {
    .title {
        margin-top: 50px;
    }

    .text-presentation {
        overflow: auto;
        font-size: 16px;
        height: auto;
        word-wrap: break-word;
    }
    
    .presentacion {
        max-width: 100%;
    }
}
.presentacion{
    box-shadow: 2px 2px 2px 2px rgba(102, 5, 5, 0.337);
    max-width: 800px;
    
    background-color: rgba(0, 0, 0, 0.398);
    border-radius: 5px;
    height: fit-content;
}
.text-presentation{
    padding: 5px;

    color: #bbb;
}
.text-presentation p{
    height: 100%;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    overflow: hidden;
}

.skills .container img{
    width: 100px;
    height: 100px;
    padding: 20px;
}


/* PROYECTOS*/
.container-proyects {
    width: 100%;
    display: flex;
    justify-content: center;
}
.card {
    width: 18rem;
    display: inline-block;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-color: #020202b3;
}

.card img{
    width: 260px;
    height: 200px;
    margin:15px;
    border-radius: 15px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 1rem;
    color: #bbb;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    margin-bottom: 1rem;
    
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}